.bg-pink {
    background-color: rgb(250, 129, 204);
    background-image: url("../assets/gatinha.png");/* .. é para ir para a pasta raiz */
    background-repeat: no-repeat;
    background-size: 18%;
}
.mi-bolder {
    color: #ff69b4 ; /* rosa pink */
}

.text-roxo{
    color: #f60f82;
}
.text-pink{
    color: #f60f82;
}
.cor-corpo{
    background-color: aqua;
}
.bg-topo{
 background-color: black; /* cor de fundo */
 
}
.texto-rosa {
    color: #FF69B4;
  }

  .navbar-nav .nav-link {
    color: #FF69B4 !important;
  }

  .navbar-brand {
    color: #FF69B4 !important;
  }
  /* criando um botão para o whatsapp que está  do lado direito e se movimenta junto com a rolagem da pagina (position: fixed)*/
  .whatsapp img{
    width: 40px;
    position: fixed;
    bottom: 100px;
    right:15px;
   }
   .instagram img{
    position: fixed;
    top: 20px;     /* distância do topo */
    right: 20px;   /* distância da direita */
    z-index: 1000; /* garante que fique por cima dos outros elementos */
    width: 40px;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* garante altura mínima da tela */
  
  
}

footer {
  margin-top: auto; /* empurra o rodapé pro final */
  width: 100%;
  padding: 2rem 0; /* já tem no py-5 do bootstrap, mas reforça */
}
 
.bg-aqua {
  background-color: aqua !important;
}
.btn-carrinho {
  background-color: #FF69B4; /* rosa pink */
  color: white;
  border-color: #FF69B4;
}

.btn-carrinho:hover {
  background-color: #ff85c1; /* rosa mais claro ao passar o mouse */
  border-color: #ff85c1;
}

.badge-carrinho {
  background-color: #f60f82; /* cor da badge */
  color: white;
}
.lembre-texto {
  font-size: 20px;   /* aumenta o tamanho da letra */
     /* deixa em negrito, opcional */
  
}

.card {
  border: none !important; /* remove todas as bordas */
  
}
